.detail_box {
  padding: 3rem;
}

.detail_box img {
  width: 100%;
  height: 200px;
}

.detail_box h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

.detail_box p {
  font-size: 3rem;
  line-height: 25px;
}
