.today_box {
  overflow: hidden;
  width: 100%;
  .header {
    padding: 20px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    opacity: 0;
  }
  .wrapper {
    height: 100vh;
    overflow: hidden;
  }
  // .content {
  //   height: 100vh;
  // }
  .user {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 3.6rem;
      font-weight: bold;
      color: #4b6bd0;
    }
    p {
      margin-top: 2rem;
      font-size: 2.4rem;
    }
  }
  .search_box {
    padding: 2rem;
  }
}
.swiper {
  width: 95%;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  img {
    width: 100%;
    height: auto;
  }
}
.grid_item {
  padding: 4rem 0;
  text-align: center;
  img {
    width: 50px;
    height: auto;
  }
  h3 {
    font-size: 2.4rem;
    margin-top: 10px;
  }
}
